<section class="full-screen-section increase-height section-bottom-radius">
  <app-picture-content-delivery [name]="'litopia-s4-lac-asia-1'" [alt]="'Port de litopia'" [fullScreenImg]="true" [classNames]="['section-bottom-radius']"></app-picture-content-delivery>
  <div class="content-container full-screen-section increase-height transparent-theme-gradiant-bg section-bottom-radius">
      <article class="content-sub-container">
        <h1 class="mat-title big-title"><strong>La survie ultra-hardcore</strong> remplis de défis et d’ambitions..</h1>
        <div class="card-container">
          <div>
            <h2 class="mat-subheading-2 underline-title">Des évenements et du fun !</h2>
            <p class="darkerText">Lors des bons moments passés sur le serveur, l’objectif d’un jeu est de profiter de
              l’instant-présent !
              C’est pour celà que Litopia organise des évenements (ender-dragon, mini-jeux, et d’autres...) afin que les
              joueurs
              puissent apprendre à mieux se connaître.
            </p>
          </div>
          <div>
            <h2 class="mat-subheading-2 underline-title">Au fil des saisons</h2>
            <p class="darkerText">
              Depuis 8 ans, Solarius et tous les membres de son serveur entretiennent l’esprit Litopien et perpétue
              saisons,
              les aventures...
              Aujourd’hui, le serveur peut compter sur un staff soudé et respectueux ayant fait leur preuve.
            </p>
          </div>
        </div>
        <div class="call-to-action-container">
          <a mat-flat-button color="primary">
            <span>Candidater</span>
            <mat-icon>arrow_forward</mat-icon>
          </a>
        </div>
      </article>
    </div>
</section>
