.container{
  display: flex;
  flex-direction: row;
  border-radius: 50px;
}

.big-title-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
}

.title-bg{
  font-size: 100px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 900;
  background-image: url("/assets/images/compressed/litopia-port-s4-1024.webp");
  background-attachment: fixed;
  background-size: cover;
  background-clip: text;
  color: transparent;
  padding: 10px;
}

@media screen and (max-width: 750px){
  .title-bg{
    font-size: 80px;
    background-image: url("/assets/images/compressed/litopia-port-s4-512.webp");
  }
}
