<section class="full-screen-section">
  <section class="card-container container">
    <div class="big-title-container">
      <div>
        <h1 class="title-bg">8's<br>Saisons</h1>
      </div>
    </div>
    <div>
      <div>
        <h1 class="mat-title big-title">De nouvelles idées !<br>Du monde et de la bonne humeur !</h1>
        <h2 class="mat-subheading-2 underline-title">Des projets communs</h2>
        <p class="darkerText">
          Au cours de toute ces saisons, le serveur a su créer un véritable esprit de groupe basé sur la confiance, le
          respect et biensûr beaucoup de tryhard ! Notre objectif, était à la base de mettre en place une serveur entre
          amis sur lequel nous pouvions jouer, nous détendre profitez simplement. Aujourd’hui, chacun de nos membres....
        </p>
      </div>
    </div>
  </section>
</section>
