.container{
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  border-radius: 50px;
}

.big-title-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
}

.title-bg{
  font-size: 100px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 900;
  background-image: url("/assets/litopia-port-s4.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
  padding: 10px;
}
