@use 'sass:map';
@use '../../../../node_modules/@angular/material/index' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $warn-palette: map.get($color-config, 'warn');
  $primary-color:mat.get-color-from-palette($primary-palette, 200);
  $accent-color:mat.get-color-from-palette($warn-palette, 200);
  
  .join-us-warn {
    fill: $accent-color;
  }

  .quote-join-us-warn {
    border-left-color: $accent-color;
  }

  u {
    border-bottom: 2px solid $primary-color;
  }
}


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
  /*
  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }*/
}
