<section>

    <app-page-header
        [title]="'Nous Rejoindre'"
        [img]="'litopia-s4-consula'"
        [imgAlt]="'Consulat de litopia'">
    </app-page-header>

    <div class="page-content-container">

        <div *ngIf="id == 1" class="container">

            <div class="card-container-row">
                <div class="element-in-row">
                    
                    <mat-icon svgIcon="warning" style="width:50px; height: 50px;"></mat-icon>

                    <div class="quote-join-us-warn">
                        <p class="m-0">
                            <span class="">
                                Pour nous rejoindre, il est <u>impératif</u> d'écrire une candidature soignée, 
                            </span>
                            <span class="">
                                puis de passer un <u>entretien vocal</u> avec l'un des administrateurs du serveur sur notre Discord.
                            </span>
                            <span class="">
                                Si vous ne possédez <u>pas de micro</u> pour le faire, il est préférable pour vous que vous passiez votre chemin.
                            </span>
                        </p>
                    </div>

                </div>
            </div>

            <div>
                <div class="flex-row">

                    <div>
                        <div class="card-container-row">
                            <div>

                                <h2 class="">
                                    Qui peut nous rejoindre ?
                                </h2>

                                <p class="">
                                    Absolument tout le monde ! Le système de whitelist n'est pas fait pour sélectionner des joueurs selon leur âge 
                                    ou leur niveau de jeu. Il nous permet seulement de mieux réguler l'arrivée de nouveaux membres et de contrôler 
                                    la motivation des arrivants. Nous n'acceptons pas, en revanche, les versions crackées de Minecraft.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="card-container-row">
                            <div>

                                <h2 class="">
                                    Les conditions d'adhésion
                                </h2>

                                <p class="">Par le biais de votre candidature, vous devez donner à la communauté de Litopia une bonne 
                                    raison d'être accepté. Il vous faudra donc nous prouver votre motivation. Nous utilisons aussi les candidatures comme 
                                    "filtres anti-perturbateurs", alors soignez votre présentation 😉.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-container-row">
                <div>

                    <h2 class="">
                        Comment sa fonctionne ?
                    </h2>

                    <p>
                        Chaque semaine, toutes les candidatures postées sur notre site sont affichées dans le channel des candidatures, 
                        durant laquelle, les litopiens vote pour la, ou les candidatures qu'ils préfèrent. A la fin de celle-ci, la personne 
                        ayant reçu le plus de vote passera un entretien oral avec nos modérateurs.
                        Une seul personne rejoindra Litopia chaque semaine.
                    </p>

                    <p>
                        <span class="">
                            Chaque postulant a le droit de poster deux candidatures avant d'être <u>définitivement rejeté</u>.
                        </span>
                    </p>

                </div>
            </div>

            <div class="flex-row flex-center">
                <div class="test">
                    <div class="call-to-action-container">
                        <a mat-flat-button color="primary" href="/nous-rejoindre/2" routerLink="/nous-rejoindre/2" (click)="updateRoute(id + 1)">
                            <span>Suivant</span>
                            <mat-icon>arrow_forward</mat-icon>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="id == 2">

            <article class="card-container-row">
                <div>
                    <h2>
                        Comment formuler ma candidature ?
                    </h2>
                    <li>Vous voulez nous rejoindre ? Très bien, nous en sommes ravis !</li>
                    <li>Cependant, comme vous le savez déjà, vous devez rédiger une candidature. Cette page pourra peut-être vous aiguiller si vous n'avez aucune inspiration.</li>
                </div>
            </article>

            <article class="card-container-row">

                <div>

                    <h3 class="mat-subheading-2 underline-title">
                        Quelques conseils pour commencer
                    </h3>

                    <div>

                        <ul class="counsel">
                            <li>
                                Avant toute chose, sachez que votre candidature sera publiée aux autres membres du serveur. Donnez leur une bonne impression de vous !
                            </li>
                            <li>
                                Une bonne candidature se doit d'être soignée. C'est sans doute le point le plus important pour rédiger une présentation agréable à lire. Une belle orthographe vous donnera un énorme avantage pour être accepté.
                            </li>
                            <li>
                                Présentez-vous, expliquez d'où vous venez, partagez vos hobbys, vos passions, etc.
                            </li>
                            <li>
                                Montrez votre motivation ! Soyez vous-même, laissez place à l'imagination et n'hésitez pas à rajouter un brin de folie ! Un joueur amical sera certainement préféré à un joueur trop sérieux!
                            </li>
                            <li> 
                                Soyez patient et prenez votre temps. ll n'y a pas de limite, alors écrivez !
                            </li>
                            <li>
                                Une dernière chose, n'écrivez pas comme un robot du style : "Je m'appelle Thomas, j'ai 17 ans, j'aime la redstone, j'habite dans le ...". Faites des phrases un minimum structurées !
                            </li>
                        </ul>

                    </div>

                    <p>
                        Bref, donnez-nous l'envie de vous recruter, de vous acceptez dans nos rangs. Considérez-nous comme une bande de copains qui ont hâte d'apprendre à mieux vous connaître. Vous pouvez aussi nous expliquer pourquoi avoir choisi Litopia et pas un autre serveur, qu'est-ce que vous recherchez en particulier en adhérant au serveur, etc. N'ayez pas de gêne et vous aurez de fortes chances d'être accepté !
                    </p>
    
                    <p>
                        PS : Si votre candidature est plus courte que cette liste de conseils, vous réduisez vos chances de faire mouche !
                    </p>

                </div>

            </article>

            <div class="flex-row flex-center">
                <div class="test">
                    <div class="call-to-action-container">
                        <a mat-flat-button color="primary" href="/nous-rejoindre/3" routerLink="/nous-rejoindre/3" (click)="updateRoute(id + 1)">
                            <span>Ecrire ma candidature</span>
                            <mat-icon>arrow_forward</mat-icon>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="id == 3">
            <div>Form inscription</div>
        </div>
  
    </div>
  
</section>