.litopia-title {
  color: var(--primary-color);
  font-weight: 600;
}

mat-toolbar a,mat-toolbar h1{
  transition: color 0.3s ease-in-out;
}

body.light-theme .litopia-title {
  color: var(--accent-color) !important;
}

.flex-stretch {
  display: flex;
  flex-grow: 1;
}

// nav li class nav-link style
.nav-link a {
  margin: auto;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: unset;
}

.nav-link:hover a {
  color: var(--primary-color);
}

body.light-theme .navbar-container-lg {
  border-bottom: var(--accent-color) solid 2px;
}

body.light-theme .nav-link:hover a {
  color: var(--accent-color);
}

// selected / current nav link style
.selected a {
  color: var(--primary-color);
}

body.light-theme .selected a {
  color: var(--accent-color);
}



