@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  $warm-palette: map.get($color-config, 'warn');
  $warm:mat.get-color-from-palette($warm-palette, 'main');


  .field-button-warn{
    border-width: 2px !important;
    padding: 0.6em 15px !important;
    border-color: $warm !important;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
