.mc-img {
  width: 60px;
  height: 60px;
  transition: background-image 200ms;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url("https://mc-heads.net/head/left");
}

.form-field {
  display: flex;
  align-items: flex-start;

  & > *:last-child {
    margin: 0;
  }

  & > * {
    margin-right: 5px;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 160px;
    margin: 10px;
  }
}

.field-button {
  padding: 0.68em 15px;
  border-radius: 5px;
  margin: 4px 10px !important;
  flex-grow: 1;
}

:host::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container{
  margin-top: 4px;
}

.form-align > * {
  align-self: flex-start;
  margin-top: 0;
}

.btn-error{
  position: absolute;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: 1.5px;
  font-weight: 300;
  margin: 66px 10px;
}

.btn-container{
  display: flex;
  flex-direction: column;
}
