<footer class="litopia-footer" fxFlex fxLayoutAlign="space-between" fxLayoutAlign.lt-md="center">
  <div class="cc-container">
    <a mat-button class="footer-btn" routerLink="">LITOPIA</a>
    <span>© {{currentYear}} \</span>
    <a mat-button class="footer-btn" href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
      <span id="licence">Licence&nbsp;</span>
      <span>AGPL-3.0</span></a>
    <span>\</span>
    <a mat-button class="footer-btn" title="github de litopia" matTooltip="Code source de litopia.fr" fxHide.lt-sm href="https://github.com/LitopiaCommunity/LitopiaFront" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
      <span>&nbsp;Github</span>
    </a>
    <a mat-icon-button class="footer-btn" fxHide fxShow.xs title="Code source de litopia.fr sur github" matTooltip="Code source de litopia.fr" href="https://github.com/LitopiaCommunity/LitopiaFront" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
  </div>
  <a mat-button fxHide.lt-md color="primary" href="/nous-rejoindre"  routerLink="nous-rejoindre">
    <mat-icon>mail</mat-icon>
    <span>&nbsp;Nous Rejoindre</span>
  </a>
</footer>
