.m-0 {
    margin: 0;
}

.quote-join-us-warn {
    border-left-width: 1px;
    border-left-style: solid;
    margin-left: 15px;
    padding-left: 20px;
}

.element-in-row {
    display: flex;
    align-items: center;
    position: relative;
}

.resize-warning {
    width:50px; 
    height: 50px;
}