<section class="card-container-row propos-section">
  <app-picture-content-delivery [name]="'litopia-s2-spawn'" [alt]="'Spawn de la saison 2 de litopia'" ></app-picture-content-delivery>
  <article>
    <header>
      <h1>A propos</h1>
    </header>
    <p>Litopia est un serveur Minecraft Vanilla en UltraHardCore (avec respawn), actuellement en version 1.17 Le PvP est actif et la map illimitée en freebuild. Nous sommes avant tout une communauté soudée, une bande de copains qui se retrouvent pour partager ensemble une aventure sur Minecraft.</p>
    <p>Pour intégrer notre serveur, il te faudra avant tout lire et accepter certaines règles. En cas de non respect de celles-ci, les joueurs concernés seront sanctionnés sur-le-champ.</p>
    <div class="call-to-action-container" routerLink="nous-rejoindre">
      <a mat-flat-button color="primary" href="/nous-rejoindre" routerLink="nous-rejoindre">
        <span>Nous rejoindre&nbsp;</span>
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </div>
  </article>
</section>

