<section>

    <app-page-header
        [title]="'Conseils'"
        [img]="'litopia-s4-temple-asia'"
        [imgAlt]="'Temple asia de la saison 4'">
    </app-page-header>

    <div class="page-content-container">
        <div>

            <article class="card-container-row">
                <div>
                    <h2>
                        Comment formuler ma candidature ?
                    </h2>
                    <ul class="list-marked">
                        <li>Vous voulez nous rejoindre ? Très bien, nous en sommes ravis !</li>
                        <li>Cependant, comme vous le savez déjà, vous devez rédiger une candidature. Cette page pourra peut-être vous aiguiller si vous n'avez aucune inspiration.</li>
                    </ul>
                </div>
            </article>

            <article class="card-container-row">

                <div>

                    <h3 class="mat-subheading-2 underline-title">
                        Quelques conseils pour commencer
                    </h3>

                    <div>

                        <ul class="list-marked">
                            <li>
                                Avant toute chose, sachez que votre candidature sera publiée aux autres membres du serveur. Donnez leur une bonne impression de vous !
                            </li>
                            <li>
                                Une bonne candidature se doit d'être soignée. C'est sans doute le point le plus important pour rédiger une présentation agréable à lire. Une belle orthographe vous donnera un énorme avantage pour être accepté.
                            </li>
                            <li>
                                Présentez-vous, expliquez d'où vous venez, partagez vos hobbys, vos passions, etc.
                            </li>
                            <li>
                                Montrez votre motivation ! Soyez vous-même, laissez place à l'imagination et n'hésitez pas à rajouter un brin de folie ! Un joueur amical sera certainement préféré à un joueur trop sérieux!
                            </li>
                            <li>
                                Soyez patient et prenez votre temps. ll n'y a pas de limite, alors écrivez !
                            </li>
                            <li>
                                Une dernière chose, n'écrivez pas comme un robot du style : "Je m'appelle Thomas, j'ai 17 ans, j'aime la redstone, j'habite dans le ...". Faites des phrases un minimum structurées !
                            </li>
                        </ul>

                    </div>

                    <p>
                        Bref, donnez-nous l'envie de vous recruter, de vous acceptez dans nos rangs. Considérez-nous comme une bande de copains qui ont hâte d'apprendre à mieux vous connaître. Vous pouvez aussi nous expliquer pourquoi avoir choisi Litopia et pas un autre serveur, qu'est-ce que vous recherchez en particulier en adhérant au serveur, etc. N'ayez pas de gêne et vous aurez de fortes chances d'être accepté !
                    </p>

                    <p>
                        PS : Si votre candidature est plus courte que cette liste de conseils, vous réduisez vos chances de faire mouche !
                    </p>

                </div>

            </article>

            <div class="flex-row flex-center">
                <div class="fit-content">
                    <div class="call-to-action-container">
                        <a mat-flat-button color="primary" href="/nous-rejoindre/3" routerLink="/nous-rejoindre/3">
                            <span>Ecrire ma candidature</span>
                            <mat-icon>arrow_forward</mat-icon>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<app-footer></app-footer>
