@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');

  $primary-color:mat.get-color-from-palette($primary-palette, 200);

  .timeline-container{
    padding: 20px;
    border-top: 5px solid $primary-color;
    border-bottom: 5px solid $primary-color;
    &.left{
      border-left: 5px solid $primary-color;
      padding-left: 30px;
      border-radius: 50px 0 0 50px;
    }

    &.right{
      border-right: 5px solid $primary-color;
      padding-right: 30px;
      border-radius: 0 50px 50px 0;
    }
  }
}


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
  /*
  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }*/
}
