.flex-row{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;

  & > * {
    flex: 1 1 300px;
  }

  & > *:last-child {
    margin: 0;
  }
  & > * {
    margin-right: 20px;
  }
}

.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & > *:last-child {
    margin: 0;
  }
  & > * {
    margin-right: 20px;
  }
}

.wrap-reverse{
  flex-wrap: wrap-reverse!important;
}

.wrap{
  flex-wrap: wrap!important;
}

.stretch{
  width: stretch;
}
