@use 'sass:map';
@use '@angular/material' as mat;
@import "src/flex-utils";

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $primary-color:mat.get-color-from-palette($primary-palette, 200);

  $foreground-palette: map.get($color-config, 'foreground');
  $text-color:mat.get-color-from-palette($foreground-palette, 'base');

  $background-palette: map.get($color-config, 'background');
  $bg-card:mat.get-color-from-palette($background-palette, 'card');
  $bg-5:mat.get-color-from-palette($background-palette, 5);

  .big-title{
    max-width: 600px;
    font-weight: 600;
    strong{
      color: $primary-color;
      &::after{
        content: "\a";
        white-space: pre;
      }
    }
  }

  .left-line{
    width: stretch;
    &::before{
      content: '';
      display: inline-block;
      position: relative;
      top: -5px;
      background-color: $primary-color;
      height: 4px;
      width: 45px;
      margin-right: 15px;
    }
  }

  .underline-center *{
    display: inline-block;
    position: relative;
    background-color: rgba($bg-5,0.4);
    padding: 10px;
    border-radius: 50px;

    &::after{
      content: "";
      height: 4px;
      width: 50%;
      background-color: $primary-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .underline-title::before{
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $primary-color;
  }

  h1.underline-title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    &::before{
      transform: translate(0px,33px);
    }
  }

  h2.underline-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    &::before{
      transform: translate(0px,30px);
    }
  }
  h3.underline-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    &::before{
      transform: translate(0px,28px);
    }
  }

  time.underline-title::before{
    transform: translate(0px,20px);
    width: 40px;
  }

  p.darkerText {
    font-weight: 300;
    color: rgba($text-color,0.75);
  }

  .card{
    padding: 20px;
    border-radius: 10px;
    background-color: $bg-card;
    align-items: center;
    max-width: 1200px;
    margin:40px auto;
  }

  .card-container-row{
    @extend .card;
    @extend .flex-row;
  }

  .card-container-column{
    @extend .card;
    @extend .flex-column;
  }

  .primary-color{
    color:$primary-color;
  }

  .underline {
    border-bottom: 2px solid $primary-color;
  }

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}

img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-screen-section{
  position: relative;
  width: 100%;
  min-height: calc(100vh - 80px);
  & img{
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 80px);
    max-width: 100vw;
    width: 100%;
    object-fit: cover;
  }
}

 @media screen and (max-width: 750px) {
   .full-screen-section{
     min-height: calc(100vh - 60px * 2);
     & img{
       height: calc(100vh - 60px * 2);
     }
   }
 }

@media screen and (max-width: 750px) {
  .increase-height{
    min-height: calc(100vh + 60px * 2);
    & img{
      height: calc(100vh + 60px * 2);
    }
  }
}

.mid-screen-section {
  position: relative;
  width: 100%;
  height: 50vh;
  & img{
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 750px) {
  .mid-screen-section{
    height: 20vh;
    & img{
      height: 20vh;
    }
  }
}

.screen-section-container{
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row wrap;
}


.section-bottom-radius{
  border-radius: 0 0 50px 50px;
}

.header-content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.call-to-action-container{
  width: stretch;
  margin: 20px 0;
  a{
    border-radius: 10px;
  }
}

.page-content-container{
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  &>*{
    max-width: 1200px;
  }
}

.underline {
  text-decoration: none;
}

.fit-content {
  display: inline;
  max-width: fit-content;
}


@media screen and (max-width: 750px) {
  .page-content-container{
    padding: 20px 5px;
  }
}
