<article class="litopia-first-showcase">
  <div class="flex-row img-flex-flow">
    <div>
      <h1 class="mat-title big-title"><strong>La survie ultra-hardcore</strong> remplis de défis et d’ambitions..</h1>
      <div class="flex-row">
        <div>
          <h2 class="mat-subheading-2 underline-title">Des évenements et du fun !</h2>
          <p class="darkerText">Lors des bons moments passés sur le serveur, l’objectif d’un jeu est de profiter de
            l’instant-présent !
            C’est pour celà que Litopia organise des évenements (ender-dragon, mini-jeux, et d’autres...) afin que les
            joueurs
            puissent apprendre à mieux se connaître.
          </p>
        </div>
        <div>
          <h2 class="mat-subheading-2 underline-title">Au fil des saisons</h2>
          <p class="darkerText">
            Depuis 8 ans, Solarius et tous les membres de son serveur entretiennent l’esprit Litopien et perpétue
            saisons,
            les aventures...
            Aujourd’hui, le serveur peut compter sur un staff soudé et respectueux ayant fait leur preuve.
          </p>
        </div>
      </div>
      <div>
        <a mat-stroked-button color="primary">
          <span>Candidater</span>
          <mat-icon>arrow_forward</mat-icon>
        </a>
      </div>
    </div>

    <img id="showcaseFirstImg" src="assets/litopia-port-s4.png" alt="port sous la plus dans la saison 6 de litopia">
  </div>
</article>
