// large nav bar
.navbar-container-lg {
  display: flex;
  height: 80px;

  // main navigation style for all liste element
  nav ul {
    display: flex;
    align-items: center;
    height: 100%;

    li {
      margin: 0 0.5vw;
      display: flex;
      flex-flow: row;
      align-content: center;
      white-space: nowrap;
    }

    .nav-link::after, .nav-link::before {
      content: '';
      display: inline-block;
      transition: 0.3s;
      width: 1px;
      height: auto;
    }

    .nav-link::after {
      margin-left: 10px;
      transform: translate(0, 10px);
    }

    .nav-link::before {
      margin-right: 10px;
      transform: translate(0, -10px);
    }

    .nav-link:hover::after, .nav-link:hover::before {
      transform: translate(0, 0px);
    }
  }
}
